.footerBlock {
  width: 100%;
  min-height: 200px;
  background-color: #f2f2f2;
  color: #363636;

  .infoBlock {
    padding: 1em;
    width: 70%;
    margin: 0 auto;
    max-width: 1500px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    span {
      display: block;
      text-align: center;
      margin-bottom: 20px;
      font-size: 1.1em;
    }

    .listMenu {
      display: flex;
      flex-flow: column nowrap;

      a:hover {
        text-decoration: underline;
      }
    }
  }

  .copyRight {
    padding: 10px 0;
    text-align: center;
  }
}

@media (max-width: 1600px) {
  .infoBlock {
    width: 100% !important;
  }
}

@media (max-width: 1600px) {
  .infoBlock {
    flex-flow: column !important;
    justify-content: center !important;

    & > div {
      text-align: center;
      margin-bottom: 30px;
    }
  }
}