.header {
  height: 7vh;
  max-height: 70px;
  min-height: 60px;
  width: 100%;
  position: sticky;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  z-index: 10;

  .headerContent {
    width: 90%;
    margin: 0 auto;
    max-width: 1700px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    .blockIcon {
      width: 10%;

      .pageLinkIcon, img {
        display: block;
        width: 50px;
        height: 50px;
        margin: 0 auto;
      }
    }

    .navBar {
      width: 90%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      align-items: center;

      .pageLink {
        position: relative;
        padding: 5px 0;

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 2px;
          background-color: black;
          transition: width .3s ease;
        }


        &:hover {
          &:after {
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .header .headerContent .navBar .pageLink:hover {
    &:after {
      width: 0;
    }
  }
}