.mainContent {
  padding: 2em;
  width: 90%;
  margin: 0 auto;
  max-width: 1700px;
  display: flex;
  flex-flow: row;
  min-height: 100vh;

  .sneakersMain {
    width: 85%;
    display: flex;
    flex-flow: column;
    margin: 0 auto;

    .notFound {
      margin-top: 2em;
      font-size: 1.1em;
      text-align: center;
    }

    .sneakersList {
      width: 100%;
      display: flex;
      flex-flow: row wrap;

      .shellElem {
        width: 25%;
        padding: 1em 1.5em;

        .sneakersElement {
          display: block;
          width: 100%;
          border-radius: 6px;
          overflow: hidden;
          cursor: pointer;
          background-color: #e1e1e1;

          .infoDiv {
            width: 100%;
            padding: 10px 5px;
            display: flex;
            flex-flow: column nowrap;
            text-align: center;

            span {
              display: block;
              width: 100%;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }

          &:hover {
            background-color: #bbbbbb;
            box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
          }
        }
      }
    }

    .divPage {
      padding: 1em;
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;

      & > div {
        width: 35px;
        height: 35px;
        background-color: rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 3px;
        border-radius: 5px;
        cursor: pointer;
        user-select: none;

        &:hover {
          background-color: rgba(0, 0, 0, 0.3);
        }

        &.active {
          background-color: rgba(0, 0, 0, 0.5);
        }

        .arrowLeft {
          position: relative;
          display: inline-block;
          width: 0;
          height: 0;
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-right: 5px solid black;
        }

        .arrowRight {
          position: relative;
          display: inline-block;
          width: 0;
          height: 0;
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-left: 5px solid black;
        }
      }
    }
  }
}

@media (max-width: 1750px) {
  .mainContent .sneakersMain .sneakersList .shellElem {
    padding: 1em 1.2em;
  }
}

@media (max-width: 1700px) {
  .mainContent .sneakersMain .sneakersList .shellElem {
    padding: 1em 1em;
  }
}

@media (max-width: 1600px) {
  .mainContent {
    width: 100%;

    .sneakersMain .sneakersList .shellElem {
      padding: 1em .7em;
    }
  }
}

@media (max-width: 1400px) {
  .mainContent .sneakersMain .sneakersList .shellElem {
    padding: 1em .5em;
  }
}

@media (max-width: 1200px) {
  .mainContent .sneakersMain .sneakersList .shellElem {
    width: 33%;
    padding: 1em 1.5em;
  }
}

@media (max-width: 1100px) {
  .mainContent .sneakersMain .sneakersList .shellElem {
    padding: 1em .5em;
  }
}

@media (max-width: 900px) {
  .mainContent {
    padding: 1em;

    .sneakersMain {
      width: 100%;

      .sneakersList .shellElem {
        width: 50%;
        padding: 1em 1.3em;

        .sneakersElement:hover {
          background-color: #e1e1e1;
          box-shadow: none;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .mainContent {
    padding: 0;

    .sneakersMain .sneakersList .shellElem {
      padding: .5em .2em;
    }
  }
}
