.divSorting {
  width: 50%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;

  & > div {
    display: none;
    align-items: center;
    padding: 0 10px;
  }

  .divSortingFilter {
    height: 40px;
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    outline: 0;
    border: 0;

    .filterIcon {
      display: flex;
      align-items: center;
    }

    span {
      flex-grow: 1;
      text-align: center;
    }

    &:focus {
      outline: none;
    }
  }
}

@media (max-width: 900px) {
  .divSorting {
    width: 100%;
    justify-content: normal;

    & > div {
      display: flex;
    }

    .divSortingFilter {
      width: 50%;
      background-color: #fff;
    }
  }
}